<h3>Group</h3>
<div>
    <br><a href="#/" class="kataFont">Home</a>
    <div ng-if="pairs.length">
        <h2>Current Pairs</h2>
        <table>
            <thead>
                <tr>
                    <td>London Employee</td>
                    <td>Stockholm Employee</td>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="currentPair in pairs">
                    <td>{{ currentPair[0] }}</td>
                    <td>{{ currentPair[1] }}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <br>
    <form>
        <label for="london_employee">London Employee</label>
        <input ng-model="pair[0]" name="london_employee" />
        <label for="stockholm_employee">Stockholm Employee</label>
        <input ng-model="pair[1]" name="stockholm_employee" />
        <button ng-click="addPair(pair)">Add pair</button>
    </form>
    <br>
    <div ng-if="employeesGoing.length">Employees that are going to the beach: {{ employeesGoing.join(',') }}</div>
</div>
